<link rel="stylesheet" href="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v13e46c26/css/css/less%7Csignup%7Cnmhp%7Cnmhp.less/1/asyuE4CqtA9xBD/none/true/none">

<div class="container-c">
    <div class="container-items">
        <div class="background">
            <img src="../../../../assets/IMAGES/BACKGROUND.jpeg" alt="" #img>
        </div>
        <div class="logo">
            <img src="../../../../assets/IMAGES/netflix1.png" alt="">
        </div>
        <div class="signin">
            <label for="language"><span class="material-icons" id="material">language</span>
            </label>
            <select name="language" #language>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
            </select>
            <button id="btn" [routerLink]="['./form']">Sign in</button>
        </div>
    </div>
    <div class="workarea">
        <div class="workarea-items">
            <div class="workarea-txt">
                <h2>Unlimited movies, Tv</h2>
                <h2>shows and more.</h2>
                <p>Watch anywhere. cancel anytime.</p>
                <h4>Ready to watch? Enter your email to create or restart your membership.</h4>
                <div class="email">
                    <input type="email" placeholder="Email address">
                    <button [routerLink]="['./form']">Get started<span class="material-icons" id="material1">chevron_right
                        </span></button><br>
                </div>
            </div>
            <div class="workarea-email">
            </div>
        </div>
    </div>
</div>
