<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="contact-content">
    <div class="contact-page">
        <p>Questions? Call
            <a class="footer-top-a" href="tel:000-800-040-1843 ">000-800-040-1843 </a>
        </p>
        <div class="contact-items">
            <div class="box1">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Cookie Preference</a></li>
                </ul>
            </div>
            <div class="box1">
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Corporate Information</a></li>
                   </ul>

            </div>
            <div class="box1">
                <ul>
                    <li><a href="#">Terms of use</a></li>
                   
                </ul>

            </div>
            <div class="box1">
                <ul>
                    <li><a href="#">Privacy</a></li>
                </ul>

            </div>
        </div>
        <div class="signin">
            <label for="language">
            </label>
            <select name="language" #language>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
            </select>
        </div>
    </div>
</div>