<div class="container-content">
    <div class="container-content-items">
        <div class="txt">
            <h1>Enjoy on your TV.</h1>
            <h3>Watch on smart TVs, Playstation, Xbox,<br>Chromecast, Apple TV, Blu-ray players and<br> more.</h3>
        </div>
        <video autoplay loop>
            <source src="../../../../assets/VIDEOS/video.mov">
        </video>
    </div>
    <div class="container-content-items1">
        <video autoplay loop>
            <source width="75" src="../../../../assets/VIDEOS/video1.mov" id="video1">
        </video>
        <div class="txt1">
            <h1>Download your shows<br> to watch offline.</h1>
            <h3>Save your favourite easily and always here<br>something to watch</h3>
        </div>
    </div>
    <div class="container-content-items">
        <div class="txt">
            <h1>Watch everywhere.</h1>
            <h3 id="txt1">Stream unlimited movies and TV shows on<br>your phone, tablet, laptop, and TV. </h3>
        </div>
        <video autoplay loop>
            <source src="../../../../assets/VIDEOS/video2.mov">
        </video>
    </div>
    <div class="container-content-items">
        <img src="../../../../assets/IMAGES/picture1.png" alt="404 error" id="picture1">
        <div class="txt2">
            <h1 id="text">Create profiles for<br> children.</h1>
            <h3 id="text2">Send children on adventures with their <br>favourite characters in a space made just
                for<br> them—free with your membership.</h3>
        </div>
    </div>
</div>