<div class="contact-content">
    <div class="contact-page">
        <p>Questions? Call
            <a class="footer-top-a" href="tel:000-800-040-1843 ">000-800-040-1843 </a>
        </p>
        <div class="contact-items">
            <div class="box1">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Speed Test</a></li>
                </ul>
            </div>
            <div class="box1">
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Cookie Preferences</a></li>
                    <li><a href="#">Legal Notices</a></li>
                </ul>

            </div>
            <div class="box1">
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Ways to Watch</a></li>
                    <li><a href="#">Corporate Information</a></li>
                    <li><a href="#">Only on Netflix</a></li>
                </ul>

            </div>
            <div class="box1">
                <ul>
                    <li><a href="#">Media Centre</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>
        </div>
        <div class="signin">
            <label for="language"><span class="material-icons" id="material1">language</span>
            </label>
            <select name="language" #language >
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
            </select>
        </div>
        <br>
        <br>
        <p id="para2">
            Netflix India
        </p>
    </div>
</div>