
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @use '~@angular/material' as mat;
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $netflix-primary: mat.define-palette(mat.$indigo-palette);
// $netflix-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $netflix-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $netflix-theme: mat.define-light-theme((
//   color: (
//     primary: $netflix-primary,
//     accent: $netflix-accent,
//     warn: $netflix-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($netflix-theme);

/* You can add global styles to this file, and also import other style files */
*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

body { 
  background-color: black; 
}
@import './assets/GLOBAL/animation.scss';
@import './assets/GLOBAL/global.component.scss';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
